body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.container {
    background-color: red;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#wordDisplay {
    font-size: 2em;
    margin: 20px 0;
}

#charInput {
    font-size: 1em;
    padding: 5px;
}

#guessButton, #startButton {
    padding: 5px 10px;
    font-size: 1em;
    margin-left: 10px;
}

#wrongGuesses {
    color:black;
}


